@model AWP22.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_imageurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_imageurl)
           
            <img height="100" width="100" src="@Model.product_imageurl" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
