@model IEnumerable<AWP22.Models.product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_imageurl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_description)
        </td>
        <td>
            <img height="100" width="100" src="@item.product_imageurl" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.product_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_id })
        </td>
    </tr>
}

</table>
