@model AWP22.Models.offer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.offer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.offer_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offer_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.offer_imageurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offer_imageurl)
            <img height="100" width="100" src="@Model.offer_imageurl" />

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.offer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
