@model AWP22.Models.function

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>function</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.function_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.function_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.function_icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.function_icon)
            <img height="100" width="100" src="@Model.function_icon" />

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.function_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
